<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block link %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='topten/login.css')}}">
        {% endblock %}
        </head>
        <body>
          <header>
            <div class="container">
                <h3>SSR - Spotify Song Recommender</h3>
                <ul>
                    <li><a onclick="window.location.href='/'">Home</a></li>
                    <li><a onclick="window.location.href='/login'">Login</a></li>
                    <li><a onclick="window.location.href='/artist'">Top Ten</a></li>
                    {% if request.cookies.get('session') %}
                        <li><a onclick="window.location.href='/liked-songs'">My Liked Songs</a></li>
                        <li><a onclick="window.location.href='/logout'">Logout</a></li>
                    {% else %}
                        <li><a onclick="window.location.href='/spotifyLogin'">Login to Spotify</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
            <h1>Spotify Song Recommender</h1>
            {% block content %}
            <button onclick="window.location.href='/'">
                Home
              </button>
            
            <form action="#" method="post">
                <p Name:></p>
                <p><input type="text" name="nm"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>
            {% endblock %}
        </body>
    
</html>