<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage/login.css')}}">
        <link rel="icon" type="image/gif" href="{{ url_for('static', filename='images/Spotifyicon.png')}}"">
        <link rel="icon" type="image/gif" href="{{ url_for('static', filename='images/Spotifyicon.png')}}"">
    </head>
    <body>
        <h1>Spotify Song Recommender</h1>
        <h3> Spotify Login</h3>
        {% block content %}
        
        {% endblock %}
        
        
    </body>
    
</html>