<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/home.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Home - Spotify Song Recommender</title>
    <style>
        body{
            background-color: rgb(255, 255, 255);
        }
    </style>

</head>
<body>
    
    
    {% extends "navbar.html" %}
    {% block content %}
        {% block code %}
        
        <div class="errorpageBox">
            <H1>Sorry, an Error has Occurred</H1>
            <a href="{{ url_for('views.home') }}">Click here to Return Home</a>

        </div>
           
        {% endblock %}

       
    {% endblock %}



        
        
    
</body>
</html>
