<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/home.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Home - Spotify Song Recommender</title>
    <style>
        body{
            background-color: rgb(255, 255, 255);
        }
    </style>

</head>
<body>
    
    <header>
        <div class="container">
            <h3>SSR - Spotify Song Recommender</h3>
            <ul>
                <li><a onclick="window.location.href='/'">Home</a></li>
                <li><a onclick="window.location.href='/login'">Login</a></li>
                <li><a onclick="window.location.href='/artist'">Top Ten</a></li>
                {% if request.cookies.get('session') %}
                    <li><a onclick="window.location.href='/liked-songs'">My Liked Songs</a></li>
                    <li><a onclick="window.location.href='/logout'">Logout</a></li>
                {% else %}
                    <li><a onclick="window.location.href='/spotifyLogin'">Login to Spotify</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    
    <image src="{{ url_for('static', filename='images/Spotifythreelines.png')}}" class = "threelines" ></image>
 

</body>
</html>