<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Top Songs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='topten/index.css')}}">
</head>
<body>
    <button class= "button" onclick="window.location.href='/'">
        Home
      </button>
    <div>
        <image src="{{ url_for('static', filename='images/Spotifyicon.png')}}">
        <h1>Top 10 Songs</h1>
        <form action="{{ url_for('views.artist')}}" method="post">
            <label for="artistname">Artist Name:</label>
            <input type="text" id="artistname" name="aname" placeholder="artistname">
            <button type="submit">Search</button>
        <h1>US top songs</h1>
        {% for your_list_element in your_list %}
      <p class= "topsongs">{{ your_list_element }} </p>
{% endfor %}
    </div>
</body>
</html>