<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Top Songs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/index.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        body{
            background-color: rgb(255, 255, 255);
            font-family: 'Montserrat';
        }
    </style>
</head>
<body>

    <header>
        <header>
            <div class="container">
                <h3>SSR - Spotify Song Recommender</h3>
                <ul>
                    <li><a onclick="window.location.href='/'">Home</a></li>
                    <li><a onclick="window.location.href='/artist'">Top Ten</a></li>
                    {% if request.cookies.get('session') %}
                        <li><a onclick="window.location.href='/liked-songs'">My Liked Songs</a></li>
                        <li><a onclick="window.location.href='/logout'">Logout</a></li>
                        <li><img src="{{ profile_picture_url }}" class="profile-picture"></li>
                        

                    {% else %}
                        <li><a onclick="window.location.href='/spotifyLogin'">Login to Spotify</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
    <button class= "button" onclick="window.location.href='/'">
        Home
      </button>
    <div>
        <image src="{{ url_for('static', filename='images/Spotifythreelines.png')}}" class= "threelines">
        <h1>Top 10 Songs</h1>
        <form action="{{ url_for('views.artist')}}" method="post">
            <label for="artistname" class="label1">Enter an Artist:</label>
            <input type="text" id="artistname" name="aname" placeholder="Enter a artist" class="textInput">
            <button type="submit" class="searchbutton">Search</button>
        
        <h2>
        {% for your_list_element in your_list %}
            <p class= "topsongs">{{ your_list_element }} </p>
      
        {% endfor %}
        </h2>
        
        
    
        
    
    </div>
</body>
</html>