<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Top Songs</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/index.css')}}">-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        body{
            background-color: rgb(255, 255, 255);
            font-family: 'Montserrat';
        }
    </style>
</head>
<body>

    <!--
        <header>
            <div class="container">
                <h3>SSR - Spotify Song Recommender</h3>
                <ul>
                    <li><a onclick="window.location.href='/'">Home</a></li>
                
                    <li><a onclick="window.location.href='/artist'">Top Ten</a></li>
                    {% if request.cookies.get('session') %}
                        <li><a onclick="window.location.href='/liked-songs'">My Liked Songs</a></li>
                        <li><a onclick="window.location.href='/logout'">Logout</a></li>
                        <li><a onclick="window.location.href='/mytop'">My Top Songs</a></li>
                        <li><img src="{{ profile_picture_url }}" class="profile-picture"></li>
                    {% else %}
                        <li><a onclick="window.location.href='/spotifyLogin'">Login to Spotify</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
    -->
    {% extends "navbar.html"%}
        {% block image %}
    
        <!--<image src="{{ url_for('static', filename='images/Spotifythreelines.png')}}" class= "threelines">-->
        {% endblock %}
        {% block code %}
        <div class = "artistbox"> 
            <h1 class="topTen">Search For an Artist's Top 10 Songs</h1>
            <form action="{{ url_for('views.artist')}}" method="post">
                <label for="artistname" class="label1A">Enter an Artist:</label>
                <input type="text" id="artistname" name="aname" placeholder="Name" class="textInputArtist">
                <button type="submit" class="searchbuttonArtist">Search</button>
            </form>
        
            <h2 class = "artistSongs">
            {% for your_list_element in your_list %}
                <p class= "topsongs">{{ your_list_element }} </p>
      
            {% endfor %}
            </h2>
        </div> 
        {% endblock %}
        
    
        
    
    
</body>
</html>