<!DOCTYPE html>
<html>
<head>
    <title>Liked Songs</title>
</head>
<body>
    <header>
        <div class = "container">
            <h3> SSR - Spotify Song Recommender </h3>
            <ul>
                <li><a onclick="window.location.href='/'">Home</a></li>
                <li><a onclick="window.location.href='/login'">Login</a></li>
                <li><a onclick="window.location.href='/artist'">Top Ten</a></li>
                <li><a onclick="window.location.href='/spotifyLogin'">Login to Spotify</a></li>
                <li><a onclick="window.location.href='/liked-songs'">My Liked Songs</a></li>
                
              </ul>
        </div>
    </header>

    <h1>Liked Songs</h1>
    {% if liked_songs %}
        <ul>
            {% for song in liked_songs %}
                <li>
                    <img src="{{ song.image }}" width="100" height="100">
                    <h2>{{ song.name }}</h2>
                    <p>{{ song.artist }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No liked songs found.</p>
    {% endif %}
</body>
</html>
