<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/likedsongs.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Liked Songs</title>
</head>
<body>
    <header>
        <div class = "container">
            <h3> SSR - Spotify Song Recommender </h3>
            <ul class = "navbar">
                
                
                <li class = "navbarli"><a onclick="window.location.href='/'">Home</a></li>
                <li class = "navbarli"><a onclick="window.location.href='/artist'">Top Ten</a></li>
                {% if request.cookies.get('session') %}
                    <li class = "navbarli"><a onclick="window.location.href='/liked-songs'">My Liked Songs</a></li>
                    <li class = "navbarli"><a onclick="window.location.href='/logout'">Logout</a></li>
                    <li class = "navbarli"><a onclick="window.location.href='/mytop'">My Top Songs</a></li>
                    <li><img src="{{ profile_picture_url }}" class="profile-picture"></li>
                {% else %}
                    <li class = "navbarli"><a onclick="window.location.href='/spotifyLogin'">Login to Spotify</a></li>
                {% endif %}
                
              </ul>
        </div>
    </header>

    <h1 class="heading">Liked Songs</h1>
    {% if liked_songs %}
        <ul class = "songs">
            {% for song in liked_songs %}
                <li class = "songs">
                    <img src="{{ song.image }}" width="100" height="100">
                    <h2>{{ song.name }}</h2>
                    <p>{{ song.artist }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No liked songs found.</p>
    {% endif %}
</body>
</html>
