<header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/navbar.css')}}">
    <div class="container">
        
        <h3>SSR - Spotify Song Recommender</h3>
        <ul class = "bar">
            <li class = "nav"><a onclick="window.location.href='/'">Home</a></li>
            
            <li class = "nav"><a onclick="window.location.href='/artist'">Top Ten</a></li>
            <li class = "nav"><a onclick="window.location.href='/randomsong'">Find a Song</a></li>
            {% if request.cookies.get('session') %}
                <!--
                <li class = "nav"><a onclick="window.location.href='/liked-songs'">My Liked Songs</a></li>
                <li class = "nav"><a onclick="window.location.href='/mytop'">My Top Songs</a></li>
                <li class = "nav"><a onclick="window.location.href='/logout'">Logout</a></li>-->
                <div class = "dropdown">
                    <button class = "dropdownBtn">
                        <li class = "nav"><img src="{{ profile_picture_url }}" class="profile-picture"></li>
                    </button>
                    <div class = "dropdownContent">
                        <a onclick="window.location.href='/logout'">Logout</a>
                        <a onclick="window.location.href='/mytop'">My Top Songs</a>
                        <a onclick="window.location.href='/mytopartists'">My Top Artists</a>
                        <a onclick="window.location.href='/liked-songs'">My Liked Songs</a>
                        
                    </div>
                </div>
            {% else %}
                <li class = "nav"><a onclick="window.location.href='/spotifyLogin'">Login to Spotify</a></li>
            {% endif %}
            
        </ul>
    </div>
    {% block image %}

    {% endblock %}
</header>
    {% block code %}
    {% endblock %}



