<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/randomsong.css')}}">
    
    <title>Find a Song</title>
</head>
<body>
   
    {% extends "navbar.html"%}
    {% block image %}
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    {% endblock %}
    {% block code %}
    <form class="formrs" action="{{ url_for('views.randomsong')}}" method="post">
        <label for="genrename" class="label1">Enter a Genre:</label>
        <input type="text" id="genrename" name="genrename" placeholder="Enter a Genre" class="textInput">
        <label for="yearname" class="label12">Enter a Year:</label>
        <input type="number" id="yearname" name="yearname" placeholder="Enter a Year" class="textInput2">
        <label for="popularity" class = "label21">Enter a popularity:</label>
        <input type="number" id="popularity" name="popularity" placeholder="Enter a Popularity" class="textInput4">
        <!--
        <label for="popularityname" class="label13">Enter a Popularity Score:</label>
        <input type="text" id="popularityname" name="popularityname" placeholder="Popularity Score 0-100" class="textInput3">
        -->
        <button type="submit" class="searchbuttonrs" name="form1">Search</button>
      </form>

      


      <h2 class = "aritstsongs">
        
        {% if genre_song %}
        <p class= "genresongs">{{ genre_song }} - {{ artist_name }}</p>
        
        
        
        
        {% if album_art %}

          <a href="{{ link }}">
            <img class = "album-art" src = "{{ album_art }}" alt = "Album Art">
          </a>

        
        <div class="album-div"></div>
        {% endif %}
        {% endif %}
        
        
        
    
      </h2>

      <div class = "recosong">
      {% if recommended_songs %}
          <form action="{{ url_for('views.randomsong')}}" method="post">
              <button type="submit" class="playlistbutton" name="form2" >Create Playlist</button>
              <input type="text" id="playlistbutton" name="playlistbutton" placeholder="Enter a Playlistname" class="playlistname">
              
              <h2>Recommended Songs:</h2>
              <ul>
                  {% for song in recommended_songs %}
                    <li>
                    <label>
                    <input type="checkbox" name="song" value="{{ song.title }}">
                      {{ song.title }} by {{ song.artist }}
                    </label>
                  </li>
                  {% endfor %}
              </ul>
          </form>
      {% endif %}
    </div>

    {% endblock %}
    </body>
</html>
